/* عام */
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* رأس الصفحة */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    width: 100%;
    margin-bottom: 1em;
}

header h2 {
    font-size: 1.6rem;
    color: #2a7fff;
}

header a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

.page-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 15px;
}

/* ===== TOP CARDS ===== */
.cards-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 1em;
    text-align: center;
    margin-bottom: 30px;
}

.stat-card {
    flex-grow: 1;
    min-width: 270px;
    background: white;
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 3px 8px #0000001a;
}

.stat-card-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.stat-card-value {
    font-size: 22px;
    color: #3880ff;
    font-weight: bold;
}

/* ==== ACTION BAR ===== */
.actions-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.blue-btn {
    background: #3880ff;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: ease-in-out 0.6s;
}

.blue-btn:hover{
    transform: scale(0.98);
    opacity: 0.8;
}

.search-box input {
    width: 260px;
    padding: 10px;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
}

/* ===== TABLE ===== */
#userTable {
    width: 95%;
    margin: auto;
    margin-top: 1em;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 8px #0000001a;
}

.table-head{
    border-bottom: 2px solid rgba(121, 121, 121, 0.142);
}

.table-head,
.table-row{
    padding: 1em 2em;
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: right;
}

/* ===== MODAL ===== */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: #00000054;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 10px #0000002c;
    position: relative;
    text-align: center;
}

.modal-content input {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
}

.full-width-btn {
    width: 100%;
    margin-top: 12px;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.close-btn {
    position: absolute;
    top: 12px;
    left: 12px;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 800px){
    .page-title {
        font-size: 2rem;
    }

    .cards-container {
        width: 90%;
    }

    .blue-btn {
        padding: 15px 23px;
        border-radius: 8px;
        font-size: 15px;
    }

    .search-box input {
        padding: 1em;
    }
}