* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility !important;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
}

.flex{
    display: flex;
}
.grid{
    display: grid;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}
.j-center{
    justify-content: center;
}
.j-spacebet{
    justify-content: space-between;
}
.j-around{
    justify-content: space-around;
}
.j-end{
    justify-content: flex-end;
}
.j-start{
    justify-content: flex-start;
}
.a-center{
    align-items: center;
}
.a-start{
    align-items: flex-start;
}
.flex-start{
    align-items: flex-start;
    justify-content: flex-start;
}
.center{
    justify-content: center;
    align-items: center;
}
.block{
    display: block;
}
.self-a-center{
    align-self: center;
}
.hidden{
    visibility: hidden;
}
.gap{
    gap: 1em;
}
.gap-2{
    gap: 2em;
}
.flex-break{
    flex-basis: 100%;
    height: 0;
}
.test{
    border: 2px solid red;
}
